<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">LIST</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Edit Item</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">Item</p>
        <form action="/update/<%= item.nama_produk %>" method="post">
		<input type="text" name="itemName" value="<%= item.nama_produk %>">
          <input type="text" name="itemDescription" value="<%= item.keterangan %>">
		  <input type="text" name="itemPrice" value="<%= item.harga %>">
		  <input type="text" name="itemCount" value="<%= item.jumlah %>">
          <input type="submit" value="Update">
        </form>
      </div>
      <a href="/index" class="cancel-button">Go back</a>
    </div>
  </body>
</html>