<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIST</title>
    <link rel="stylesheet" href="/css/styles.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <header>
      <a href="/" class="header-logo">LIST</a>
    </header>
    <div class="container">
      <div class="container-header">
        <h1>Add Item</h1>
      </div>
      <div class="item-form-wrapper">
        <p class="form-label">Masukkan nama produk.</p>
        <form action="/create" method="post">
          <input type="text" name="itemName">
		  <p class="form-label">Masukkan deskripsi produk.</p>
		  <input type="text" name="itemDescription">
		  <p class="form-label">Masukkan harga produk.</p>
		  <input type="number" name="itemPrice">
		  <p class="form-label">Masukkan jumlah stok tersedia.</p>
		  <input type="number" name="itemCount">
          <input type="submit" value="Add">
        </form>
      </div>
      <a href="/index" class="cancel-button">Go back</a>
    </div>
  </body>
</html>